html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: #333333;
}

.skills-images{
  box-sizing: border-box;
  height: 112.48px;
  margin-top: 1.5em;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 4.375em;
}

section{
  padding-top: 10px;
}

#skills{
  padding-top: 70px;
}
.descriptive-text p{
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: lighter;
}

#self-photo{
  transform: rotate(90deg);
  margin-top: 3em;
}

.card-image{
  height: 60%;
}