body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.abstract-astrology-astronomy-1169754 {
  width: 100vw;
  height: 1024px;
  opacity: 1
}

header{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 1024px;
  background: url('../images/abstract-astrology-astronomy-1169754.png') center center no-repeat;
  background-size: cover;
}

header::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #000f4b, #000484);
  opacity: 0.5;
}

#nav{
  display: flex;
  position: relative;
  z-index: 1;
}

#brand-logo{
  width: 172px;
  height: 44px;
  margin-left: 80px;
  margin-top: 22px;
  font-family: Avenir;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff
}

.site-nav{
  margin: 22px 80px 0 auto;
}

.site-nav a {
  color: #ffffff;
}

.hamburger-mobile,
.mobile-slide {
  display: none;
}

.mobile {
  display: none;
}

.site-nav ul li {
  margin-right: 52px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  list-style: none;
  display: inline-block;
}

.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 5;
}

#caption {
  font-family: Ayuthaya;
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

#blurb {
  font-family: Avenir;
  width: 736px;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.content-header {
  display: flex;
  justify-content: center;
}

#about-details{
  display: flex;
  margin-top: 75px;
}

#self-photo {
  width: 242px;
  height: 308px;
  margin-left: 83px;
  margin-right: 45px;
}

#selfie {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#about-text {
  width: 60.052vw;
  margin: 0 auto 0 45px;
  font-family: AvenirNext;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;  
}

#about-text p {
  margin-bottom: 30px;
}


.section-header{
  font-family: Ayuthaya;
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.line {
  width: 103px;
  height: 2px;
  border: solid 3px #000000;
  margin: 0 auto;
}

#skills {
  width: 100vw;
  height: 801px;
  margin-top: 100px;
  background-color: rgba(0,6,104,0.05);
}

#skills-content {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 75px;
}

#skills-text {
  width: 954px;
  height: 89px;
  font-family: AvenirNext;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

#skills-badges {
  width: 634px;
  height: 329px;
  margin-top: 50px;
}

.badges {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  width: 100%;
  /* margin: 0 auto; */
}

.badge{
  display: flex;
  height: 110px;
  width: 120px;
  margin: 1em;
}

.badge img {
  width: 100%;
  height: auto;
}

.projects {
  display: flex;
}

#project-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 75px 0 281px; 
}

.project {
  position: relative;
  height: 500px;
  width: 500px;
  margin: 75px 50px;
  box-shadow: 0 0 1px 1px rgba(0, 6, 104, 0.09);
  overflow: hidden;
}

.project-image {
  height: 70%;
}

.rw-bg {
  background-color: #aeaeae;
}

.project-image .rw-contain {
  object-fit: contain;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-title {
  display: flex;
  align-items: center;
  height: 20%;
  font-family: AvenirNext;
  font-size: 24px;
  letter-spacing: normal;
  margin-left: 10px;
}

.project-links {
  display: flex;
  align-items: center;
  position: relative;
  height: 10%;
  margin-left: 10px;
}

.project-links i {
  margin-right: 2px;

}

.project-links a {
  margin-right: 10px;
}

.details-toggle {
  margin-left: auto;
  margin-right: 20px;
  padding: 20px;
  width: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.seperator {
  position: relative;
  width: 100%;
  border: 0.5px solid rgba(0, 6, 104, 0.09);
}

.project-details {
  position: absolute;
  top: 90%;
  height: 90%;
  width: 100%;
  background-color: white;
  display: none;
}

.project-details-container {
  position: absolute;
  top: 0;
  height: 90%;
  width: 100%;
  overflow: hidden;
}

.show-details{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 1;
  display: flex;
  flex-direction: column;
  animation: slide-up 0.25s linear;
  z-index: 1;
}

.hide-details {
  position: absolute;
  top: 90%;
  height: 90%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  animation: slide-down 0.25s ease-out;
  z-index: 1;
}

.header-details {
  display: flex;
  font-size: 18px;
  font-family: Ayuthaya;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left: 10px;
}

.header-details h3 {
  font-size: 34px;
}

.details-close-toggle {
  padding: 20px;
  margin: 1rem 20px 0 auto;
  cursor: pointer;
}

.project-details-content {
  margin: 10px;
  font-family: AvenirNext;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  position: relative;
}

.built-with {
  font-family: AvenirNext;
  font-size: 24px;
}

.project-tech li{
  padding-bottom: 5px;
}

#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000466;
  font-size: 3rem;
  width: 100%;
  height: 154px;
}

#main-footer a {
  color: white;
  margin-left: 18px;
}

@keyframes slide-up {
  0% {
    top: 90%;
    height: 100%;
  }
  100% {
    top: 0;
    opacity: 1;
    height: 100%;
  }
}

@keyframes slide-down {
  0% {
    display: flex;
    top: 0;
    opacity: 1;
    height: 100%;
  }
  100% {
    top: 90%;
    height: 100%;
    display: flex;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 681px;
    background: url('../images/abstract-astrology-astronomy-1169754.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  #brand-logo{
    width: 80px;
    height: 18px;
    margin-left: 25px;
    margin-top: 15px;
    font-family: Avenir-Book;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff
  }

  .hamburger-mobile {
    display: block;
    width: 30px;
    margin: 5px;
    border-bottom: 3px solid #ffffff;
  }

  .site-nav-mobile {
    margin: 15px 26px 0 auto;
    height: 24px;
  }

  .mobile-close {
    margin: 0 15px 0 auto;
  }

  .mobile-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    right: 0;
    height: 681px;
    width: 200px;
    padding: 10px;
    background-color: white;
    margin-right: -202px;
    transition: margin 0.25s;
    font-size: 22px;
  }

  .site-nav {
   display: none;
   height: 100vh;
   width: 20vw;
   margin: 15px 12px 0 auto;
   background-color: rgba(0,6,104,0.05);
  }

  #caption {
    font-family: Ayuthaya;
    font-size: 2.5rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0;
  }

  .intro{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    text-align: center;
    color: #ffffff;
    position: relative;
    z-index: 5;
  }
  
  #blurb {
    font-family: Avenir-Book;
    width: 384px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  #about-details{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
  }

  #self-photo {
    width: 175px;
    height: auto;
    margin: 0 auto;
  }

  .section-header{
    font-family: Ayuthaya;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 4px;
  }

  .line {
    width: 48px;
    height: 2px;
    border: solid 1px #000000;
    margin: 0 auto;
  }

  #about-text {
    width: 324px;
    height: 165px;
    margin: 25px auto;
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;  
  }

  #skills {
    width: 100vw;
    height: 400px;
    margin-top: 100px;
    background-color: rgba(0,6,104,0.05);
  }

  #skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
   }

   #skills-text {
    width: 324px;
    height: 60px;
    font-family: AvenirNext;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  #skills-badges {
    width: 324px;
    height: 145px;
    margin-top: 20px;
  }

  .badges {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .badge{
    display: flex;
    height: 44px;
    width: 44px;
    margin: 1em;
  }
  
  .badge img {
    width: 100%;
    height: auto;
  }

  #project-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0 72px; 
  }

  .project {
    position: relative;
    height: 296px;
    width: 296px;
    margin: 25px 50px;
    box-shadow: 0 0 1px 1px rgba(0, 6, 104, 0.09);
    overflow: hidden;
  }

  .project-image {
    height: 50%;
  }

  .project-title {
    display: flex;
    align-items: center;
    height: 40%;
    font-family: AvenirNext;
    font-size: 24px;
    letter-spacing: normal;
    margin-left: 10px;
  }

  .header-details {
    display: flex;
    font-size: 18px;
    font-family: Ayuthaya;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: 10px;
  }

  .header-details h3 {
    font-size: 22px;
    font-family: Ayuthaya;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .project-details-content {
    font-family: AvenirNext;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    position: relative;
    overflow: scroll;
  }

  .built-with {
    font-family: AvenirNext;
    font-size: 18px;
  }
}