.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #632ca6;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem 1.25rem;
    line-height: 1.5;
  }

  h1 {
    color: #632ca6;
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #colorChange {
    padding: 1rem;
    border: none;
    background-color: hsl(267, 58%, 41%);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
